<div class="ms-5 ps-3">
    <div class="row">
        <div class="col mt-5">
            <h6>Chef Music</h6>
        </div>
    </div>
    <div class="row my-2 ">
        <div class="col my-2 ">
            <small class="text-muted ">Recomanded</small>
            <ul >
                <li><a href="">For You</a></li>
                <li><i class="fa fa-address-book"></i><a href="">Library</a></li>
                <li><a href="">Radio Station</a></li>
                <li><a href="">Music Video</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <small class="text-secondary">My Music</small>
            <ul>
                <li><a href="">Like Song</a></li>
                <li><a href="">Albums</a></li>
                <li><a href="">Artists</a></li>
                <li><a href="">Recent</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <small class="text-secondary">Playlists</small>
            <ul>
                <li><a href="">Hip-hop</a></li>
                <li><a href="">Jazz</a></li>
            </ul>
        </div>
    </div>
    <div class="row align-items-end mt-5">
        <div class="col">
            <button type="button" class=" btn btn-new-playlist"> New Playlist</button>
        </div>
    </div>
</div>
