<h6>Firends Activity</h6>
<div class="card bg-color border-0 mb-3">
    <div class="row me-5 align-items-center">
        <div class="col-3 align-items-center ">
            <img class="dp m-1" src=".\assets\Images\profile.jpg" >
        </div>
        <div class="col-9">
            <span>safi</span><br>
            <!-- <span>Lil Peep</span> -->
            <!-- <small>Lil Peep</small> -->
        </div>
    </div>
</div>
<div class="card bg-color border-0 mb-3">
    <div class="row me-5 align-items-center">
        <div class="col-3 align-items-center ">
            <img class="dp m-1" src=".\assets\Images\profile.jpg" >
        </div>
        <div class="col-9">
            <span>Daniel</span><br>
            <!-- <span>Lil Peep</span> -->
            <!-- <small>Lil Peep</small> -->
        </div>
    </div>
</div>
<div class="card bg-color border-0 mb-3">
    <div class="row me-5 align-items-center">
        <div class="col-3 align-items-center ">
            <img class="dp m-1" src=".\assets\Images\profile.jpg" >
        </div>
        <div class="col-9">
            <span>nekichetire</span><br>
            <!-- <span>Lil Peep</span> -->
            <!-- <small>Lil Peep</small> -->
        </div>
    </div>
</div>
<div class="card bg-color border-0 mb-3">
    <div class="row me-5 align-items-center">
        <div class="col-3 align-items-center ">
            <img class="dp m-1" src=".\assets\Images\profile.jpg" >
        </div>
        <div class="col-9">
            <span>Tolik</span><br>
            <!-- <span>Lil Peep</span> -->
            <!-- <small>Lil Peep</small> -->
        </div>
    </div>
</div>
<div class="card bg-color border-0 mb-3">
    <div class="row me-5 align-items-center">
        <div class="col-3 align-items-center ">
            <img class="dp m-1" src=".\assets\Images\profile.jpg" >
        </div>
        <div class="col-9">
            <span>kostia</span><br>
            <!-- <span>Lil Peep</span> -->
            <!-- <small>Lil Peep</small> -->
        </div>
    </div>
</div>
<div class="card bg-color border-0 mb-3">
    <div class="row me-5 align-items-center">
        <div class="col-3 align-items-center ">
            <img class="dp m-1" src=".\assets\Images\profile.jpg" >
        </div>
        <div class="col-9">
            <span>Dima V</span><br>
            <!-- <span>Lil Peep</span> -->
            <!-- <small>Lil Peep</small> -->
        </div>
    </div>
</div>